:root {
    --xp-blue: #3B77BC;
    --xp-red: #DE482B;
    --xp-green: #81C046;
    --xp-yellow: #FCCF03;
    --tsk-drk-blue: #245edc;
    --tsk-lgh-blue: #0c8ae8;
    --tsk-green: #1c941c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
}

#desktop {
    max-width: 100vw;
    height: 100vh;
}

#wallpaper {
    width: 100%;
    height: calc(100% - 40px);
    background: url("../assets/wallpaper.jpg") no-repeat center;
    background-size: cover;
}

/*MENU*/

#menu {
    width: 150px;
    height: 40px;
    position: absolute;
}

#start-button {
    width: 100%;
    height: 100%;
    clip-path: ellipse(100% 150% at 0% 50%);
    background-color: var(--tsk-green);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 10px rgb(3, 255, 100);
    cursor: pointer;
}

#taskbar {
    color: white;
    display: flex;
    width: 100%;
    height: 40px;
}

#taskbar h2{
    margin-right: 10px;
    font-size: 1.7rem;
    font-weight: 900;
    text-shadow: 1px 1px 5px black;
    display: flex;
}

#menu img {
    height: 60%;
    float: left;
    padding-right: 0.5rem;
}

#tasks-bar {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--tsk-drk-blue);
    box-shadow: inset 0 0 15px rgb(8, 193, 240);
}

#task-container {
    margin-left: 175px;
    width: calc(100% - 150px);
    display: flex;
}

.task {
    width: 20%;
    min-width: 150px;
    padding-right: 1rem;
    background-color: var(--tsk-lgh-blue);
    box-shadow: inset 0 0 15px rgb(128, 200, 248);
    height: 100%;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
    display: none;
}

.active-task {
    display: flex;
}

.task .text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.task img {
    height: 90%;
}


/* TASKS-ICONS */
#tasks-icons {
    height: 100%;
    background-color: var(--tsk-lgh-blue);
    box-shadow: inset 0 0 15px rgb(73, 182, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

#tasks-icons > i,#time {
    padding: 0 0.4rem;
}


/* WALLPAPER */
#shortcuts {
    width: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
}

#shortcuts img {
    width: 100px;
    margin: 0 auto;
}

/* WINDOW */
.window {
    width: 300px;
    height: 600px;
    border-radius: 10px 10px 0 0;
    border: 3px solid var(--tsk-drk-blue);
    background-color: rgb(211, 211, 211);
    position: absolute;
    left: 20vw;
    display: none;
}

.active-window {
    display: block;
}

#blue-bar-top {
    width: 100%;
    height: 30px;
    background-color: var(--tsk-drk-blue);
    box-shadow: inset 0 0 10px rgb(62, 152, 255);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    color: white;
}

#blue-bar-top .fa-window-close{
    color: rgb(223, 66, 61);
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#blue-bar-top img {
    height: 80%;
    padding-right: 5px;
}

.window li {
    margin: 0.2rem;
    font-size: 0.9em;
}
