:root {
    --grey235:rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 1rem;
    margin: 0 auto;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    z-index: 2;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul li {
    display: inline;
}

button {
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 50px;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--grey235);
    cursor: pointer;
    margin: 3rem 0;
}

/* Material Icons*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* SIDEBAR */

#sidebar{
    /* background-color: var(--grey235); */
    width: 5vw;
}

#sidebar ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar ul li{
    padding: 0.5rem 0;
}

.active-product {
    font-size: 1.5rem;
    font-weight: bold;
}

/* MAIN-CONTAINER */

#main-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#products {
    width: 95vw;
}

/* TEMPLATE AREAS */
.main-product-img {
    grid-area: main;
}

.side-product-img1{
    grid-area: side1;
}

.side-product-img2 {
    grid-area: side2;
}

.side-product-img3 {
    grid-area: side3;
}

.product-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto;
    gap: 8px;
    grid-template-areas:
    "main side1 info"
    "main side2 info"
    "main side3 info";
}

@media (max-width:1000px) {
    .product {
        grid-template-columns: repeat(3,1fr) 2fr;
        grid-template-areas:
        "main main main info"
        "main main main info"
        "side1 side2 side3 info";
    }
}

@media (max-width:768px) {
    .product {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "main main main"
        "main main main"
        "side1 side2 side3"
        "info info info";
    }
}

.product > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* PRODUCT001 */

#prod001 .main-product-img{
    background-image: url(img/sneaker001-orange.jpg);
}

#prod001 .side-product-img1{
    background-image: url(img/sneaker001-side1.jfif);
}

#prod001 .side-product-img2{
    background-image: url(img/sneaker001-side2.jfif);
}

#prod001 .side-product-img3{
    background-image: url(img/sneaker001-side3.jfif);
}

#prod001 button:hover {
    background-color: orange;
}

/* PRODUCT 002 */

#prod002 .main-product-img{
    background-image: url(img/prod002/prod002-main.jpg);
}

#prod002 .side-product-img1{
    background-image: url(img/prod002/prod002-side1.jpg);
}

#prod002 .side-product-img2{
    background-image: url(img/prod002/prod002-side2.jpg);
}

#prod002 .side-product-img3{
    background-image: url(img/prod002/prod002-side3.jpg);
}

#prod002 button:hover {
    background-color: rgb(255, 46, 46);
}

.prod-info-container {
    width: 75%;
    margin: 0 auto;
}

@media (max-width:768px) {
    .prod-info-container {
        width: 100%;
    }
}

/* SPACING INFO */
.prod-main-title{
    margin-top: 1rem;
}

.prod-price {
    margin: 2rem 0;
    font-size: 1.8rem;
}

/* DROPDOWNS INFO*/

.dropdowns li{
    border-bottom: 1px solid rgb(54, 54, 54);
    padding: 0.5rem;
}

/* LINE BEFORE TITLE */
.prod-main-title::before {
    content: "";
    width: 5px;
    height: 100px;
    background-color: rgb(253, 0, 0);
}